<!-- HTML HyperText Markup Language -->
<!-- HyperText - Links to other pages and files -->
<!-- Markup Language - Configuration files to make data human readable -->
<html>
    <head>
        <!-- Data about the data, meta data -->
        <title> Cool Python App </title>
    </head>

    <body>
        <!-- The actual content of the web site -->
        <h1> Hello {{ user }} </h1>
        <h6> small titles </h6>
        <p> Paragraphs blocks of text </p>
        <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/A22B/production/_128051514_elon_musk_getty.jpg.webp">
        <input type="text">
        <button type="button"> Click me! </button>
    </body>
</html>